<form>
    <div style="display:flex; flex-direction: column; height: 100%">
        <div style="flex: 1 1">
            <div style="padding: 10px;">
                <div style="display:grid; grid-template-columns: 75% 20%; grid-gap: 10px 5%">
                    <div><input type="text" name="pdfPath" placeholder="Path to your pdf" value={{pdfPath}}></div>
                    <div>{{ filePicker type="pdf" target="pdfPath"}}</div>
                    <div><input type="text" name="imagePath" placeholder="Path to save images" value={{imagePath}}></div>
                    <div>{{ filePicker type="folder" target="imagePath"}}</div>
                </div>
            </div>
        </div>
        <div style="flex: 0 0; width: 75%; padding: 10px">
            <button id="sub">Import Data</button>
        </div>
    </div>
</form>